table{
    border: 2px solid black;
    border-collapse: collapse;
    outline: 1px solid black;
    outline-offset: 2px;

}


td{
    border: 1px solid black;
    padding: 8px;
}

thead{
    text-align: center;
}

